#bees {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  padding: 10vmin;
  background:black;

  &.pixi{
    .icon{
      display:none;
    }
  }

  #territory-holder{
    opacity:0.35;
    filter: url(#borders);
  }

  //background:black;
  #scroller {
    width: 100%;
    height: 70vh;
    overflow: visible;
  }
  .board-holder {
    position: relative;
    margin-top: -100px;
    margin-left: -100px;
    //background: url(../images/grass.jpg);
  }
  svg.board {
    path {
      stroke-width: 0;
      fill-opacity: 0.25;
    }
  }
  .board {
    position: absolute;
    top: 0;
    left: 0;
    &.no-touch {
      opacity: 0.5;
      pointer-events: none;
    }
    &.selecting-board {
      .bee,
      .hive {
        pointer-events: none;
      }
      .mine {
        pointer-events: auto !important;
      }
    }
    div[circle-gauge] {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .icon{
      height: 100%;
      width: 100%;
      position:relative;
      background-size: contain !important;
    }

    .options{
      position: absolute;
      z-index: 1;
      background: #191919;
      padding: 0.3em;
      border-radius: 4em;

      .btn{
        border-radius: 5em;
      }
    }
    .flower {
      position: absolute;

      .icon{
        background: url(../images/bees/flower.svg) center center no-repeat;
      }
    }
    .hive {
      text-align: center;
      position: absolute;
      padding: 10px;

      .options {
        width: 13em;
        top: -39px;
        left: -4.3em;
      }

      .icon{
        background: url(../images/bees/hive.svg) center center no-repeat;
      }

      &.selectedHive {
        background-color: rgba(255,255,0,0.5) !important;
        z-index: 9;
        border-radius: 10em;
      }
      p {
        color: yellow;
        position: absolute;
        width: 86%;
        text-align: center;
        left: 0;
        bottom: -13px;
        background: rgba(0,0,0,0.5);
        border-radius: 1em;
        font-size: 11px;
        margin: 0 8%;
      }
    }
    .bee {
      position: absolute;
      padding: 10px;

      .icon{
        background: url(../images/bees/bee.svg) center center no-repeat;
      }

      .options{
        top: -35px;
        min-width: 5em;
        text-align: center;
        left: -0.7em;
      }

      div[circle-gauge] {
        &.inner-gauge {
          top: 3px;
          left: 3px;
        }
      }

      //transition: top 0.1s linear, left 0.1s linear;
      &.selectedBee {
        background-color: rgba(255,255,0,0.5) !important;
        z-index: 9;
        border-radius: 10em;
      }
      &.soldier {
        //box-shadow: 0 0 0 4px red;
        border-radius: 10em;
      }
    }
    #drone-view {
      .hive {
        pointer-events: none;
      }
      .flower {
        border: 5px solid yellow;
      }
    }
    #soldier-view {
      .hive {
        border: 3px solid yellow;
      }
    }
  }
  svg.board .o-path path{
    stroke: black;
    stroke-width: 5px;
    opacity: 1;
    stroke-linecap: round;

  }
}

// Change these
