#bees {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vmin;
  background:black;
  #scroller {
    width: 100%;
    height: 70vh;
    overflow: visible;
  }
  .board-holder {
    position: relative;

    //background: url(../images/grass.jpg);
  }
  svg.board {
    path {
      stroke-width: 1px;
      fill-opacity: 0.25;
    }
  }
  .board {
    position: absolute;
    top: 0;
    left: 0;
    &.no-touch {
      opacity: 0.5;
      pointer-events: none;
    }
    &.selecting-board {
      .bee,
      .hive {
        pointer-events: none;
      }
      .mine {
        pointer-events: auto !important;
      }
    }
    .flower {
      position: absolute;
      // background: black;
      // color: white;
    }
    .hive {
      text-align: center;
      transition: transform 0.5s ease;
      position: absolute;
      &.selectedHive {
        background-color: yellow !important;
        z-index: 9;
      }
    }
    .bee {
      transition: transform 0.5s ease;
      position: absolute;
      border-radius: 20px;
      div[circle-gauge]{
        position: absolute;
        top: 0;
        left: 0;

        &.inner-gauge{
          top: 5px;
          left: 5px;
        }
      }



      //transition: top 0.1s linear, left 0.1s linear;
      &.selectedBee {
        background-color: yellow !important;
      }
      &.soldier {
        box-shadow: 0 0 0 4px red;
      }
    }
    #drone-view {
      .hive {
        pointer-events: none;
      }
      .flower {
        border: 5px solid yellow;
      }
    }
    #soldier-view {
      .hive {
        border: 5px solid yellow;
      }
    }
  }
}

// Change these
.options {
  position: absolute;
  width: 8vw;
  top: -1em;
  left: -0.7em;
}
