$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "stylish.scss";
@import "bees.scss";
@import "story.scss";


.navbar{
  margin-bottom: 0;
}

#adventure-frame {
    width: 100vw;
    height: 100vh;
    border: none;
}
