<div id="bees-holder">
  <div class="impress">
    <div class="step slide" data-x="-100" data-y="-150" data-z="100" data-rotate-x="50">
      <bees-board ng-if="currentSlide == 0"></bees-board>
    </div>

    <div class="step slide" data-x="100" data-y="150" data-z="600" data-rotate-x="90">
      <bees-board ng-if="currentSlide == 1"></bees-board>
    </div>
  </div>

  <div class="controls controls-top">
  <button ng-click="$emit('previousSlide')">Previous</button>
  <button ng-click="$emit('nextSlide')">Next</button>
  </div>
</div>
